@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.font-audiowide {
  font-family: "Audiowide", cursive;
}

.font-alumni {
  font-family: "Alumni Sans", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}

a {
  font-weight: 500;
}

a:hover {
  color: #535bf2;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
